@tailwind base;
@tailwind components;
@tailwind utilities;


#dropdown-content .active {
    border-bottom: 2px solid #00df9a !important;
    background-color: white !important;
    color: black !important;
    padding: 0.75rem 1rem !important;
    border-radius: 0.375rem !important;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}
.active {
    border-bottom: 2px solid #00df9a;
    padding: 0.75rem 1rem !important;
    border-radius: 0.375rem !important;
}